@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.toggle {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: #000 url("../img/menu.png");
  /* tu stavis velicinu slike, 30 x 30 px */
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s;
  z-index: 1000;
}

.toggle.active {
  background: #000 url("../img/close.png");
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

/* Banner*/
section {
  padding: 100px;
  min-height: 100vh;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.banner .imgSidebar,
.sidePic {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
}

.sidePic {
  background: #00bcd4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: -100%;
  transition: 0.7s;
}

.sidePic h1 {
  color: #fff;
  font-size: 5em;
}

.sidePic h2 {
  color: #fff;
  font-size: 2.5em;
  font-weight: 300;
}

.sidePic.active {
  left: 0;
}

.banner .imgSidebar img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner .contentBx,
/* ovo je da se mobile menu koji je otvoren overlap-a sa desnom stranom. */
.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  /* sirina je ukupno minus sirina imgSidebar-a, (500px) */
  width: calc(100% - 500px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.banner .contentBx > div {
  width: 100%;
}

.logoText {
  position: absolute;
  top: 40px;
  left: 100px;
  font-size: 1.5em;
  letter-spacing: 1px;
  background: #333;
  color: #fff;
  padding: 0 10px;
  border-radius: 10px;
}

.logoText span {
  color: #2196f3;
}

.banner .contentBx h4 {
  font-size: 1.5em;
  color: #333;
  font-weight: 300;
}

.banner .contentBx h4 span {
  /* ovo je plava koju koristi ovaj website. */
  color: #00bcd4;
  font-size: 1.5em;
  font-weight: 700;
}

.banner .contentBx h2 {
  font-size: 3em;
  color: #333;
  line-height: 1em;
}

.banner .contentBx h2 span {
  color: #00bcd4;
}

p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 300;
}

.btn {
  background: #00bcd4;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  transition: 0.5s;
  display: inline-block;
  border-radius: 10px;
  font-weight: 500;
  letter-spacing: 2px;
}

.btn:hover {
  letter-spacing: 5px;
}
/* Banner END */

/* About */
.title {
  width: 100%;
  text-align: center;
}

.title h2 {
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 1px;
}

.title h2 span {
  color: #00bcd4;
}

.title p {
  max-width: 700px;
  display: inline-block;
}

/* .title h2::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 60px;
  height: 4px;
  background: #00bcd4;
} */

.title.white h2,
.title.white p {
  color: #fff;
}

.about {
  background: #000;
}

.about .content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.about .content .textBx {
  min-width: 49%;
  width: 49%;
}

.about .content .textBx p {
  color: #fff;
  margin-bottom: 40px;
}

.btnBx {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btnBx a {
  margin-bottom: 20px;
}

.about .content .imgBx {
  margin-left: 40px;
}

.about .content .imgBx img {
  max-width: 100%;
}
/* About END */

/* Services */
.services .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.services .content .serviceBx {
  padding: 40px 20px;
  /* max sirina svake kockice */
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
  background: #f5f5f5;
}

.services .content .serviceBx img {
  max-width: 80px;
  transition: 0.5s;
}

.services .content .serviceBx:hover {
  background: #333;
  color: #fff;
}

.services .content .serviceBx:hover img {
  filter: invert(1);
}

.services .content .serviceBx h2 {
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}
/* Services END */

/* Work */
.work .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.work .content .workBx {
  position: relative;
  width: 265px;
  height: 265px;
  margin: 10px;
  transition: 0.5s;
  text-align: center;
}

.work .content .workBx .imgBx,
.work .content .workBx .textBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work .content .workBx .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work .content .workBx .textBx {
  background: #000;
  opacity: 0;
  transition: 0.5s;
}

.work .content .workBx .textBx h3,
.work .content .workBx .textBx h4 {
  transition: 0.5s;
  letter-spacing: 1px;
}

.work .content .workBx .textBx h3 {
  margin: 5px;
  text-transform: uppercase;
}

.work .content .workBx .textBx h4 {
  font-weight: 300;
  letter-spacing: 2px;
}

.work .content .workBx:hover .textBx {
  opacity: 1;
}

.work .content .workBx:hover .textBx h3,
.work .content .workBx:hover .textBx h4 {
  color: #fff;
}

.marDown {
  margin-bottom: 20px;
}
/* Work END */

/* Contact */
.contact {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact .contactForm {
  position: relative;
  width: 700px;
  margin-top: 20px;
}

.contact .contactForm .row {
  width: 100%;
  display: flex;
}

.contact .contactForm .row .col50 {
  width: 50%;
  margin: 10px;
}

.contact .contactForm .row .col100 {
  width: 100%;
  margin: 10px;
  text-align: center;
}

.contact .contactForm .row input,
.contact .contactForm .row textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background: #111;
  color: #fff;
  font-size: 16px;
}

.contact .contactForm .row textarea {
  resize: none;
  height: 100px;
}

.contact .contactForm .row input[type="submit"]{
  background: #00bcd4;
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
  transition: 0.5s;
  border-radius: 10px;
  max-width: 150px;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
}

.contact .contactForm .row input[type="submit"]:hover {
  letter-spacing: 5px;
}
/* Contact END */

/* Copyright */
.copyright {
  text-align: center;
  background: #111;
  color: #fff;
  padding: 10px;
}

.copyright span {
  font-weight: 500;
}
/* Copyright END */

/* sidebar */
.sidebar {
  position: fixed;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
  padding: 40px;
  z-index: 100;
  right: -100%;
}

.sidebar.active {
  right: 0;
}

.sidebar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar ul li {
  list-style: none;
  padding: 10px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  margin: 10px 0;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px;
  transition: 0.5s;
}

.sidebar ul li:hover a {
  color: #00bcd4;
}

.sci {
  position: absolute;
  left: 100px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sci li {
  margin-right: 10px;
  list-style: none;
}

.sci li img {
  transform: scale(0.5);
  opacity: 0.7;
  transition: 0.5s;
}

.sci li img:hover {
  transform: scale(1);
  opacity: 1;
}

/* sidebar END */

/* Media Queries */
@media (max-width: 1008px){

  .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .btn-container > a {
      margin-bottom: 12px;
  }

}

@media (max-width: 991px){
  .banner .imgSidebar {
    display: none;
  }

  .sidePic {
    display: none;
    width: 0;
  }

  .banner .contentBx {
    width: 100%;
  }

  .sidebar.active {
    width: 100%;
    padding: 40px;
  }

  .logoText {
    left: 40px;
  }

  .toggle {
    right: 40px;
  }

  .sci {
    left: 40px;
  }

  section {
    padding: 40px;
  }

  .about .content {
    flex-direction: column;
    margin-top: 0;
  }

  .about .content .textBx {
    min-width: 100%;
    width: 100%;
  }

  .about .content .textBx p {
    text-align: center;
  }

  .about .content .imgBx {
    margin-left: 0;
  }

  .services .content .serviceBx {
    padding: 30px 20px;
    max-width: 340px;
    margin-left: 10px;
  }

  .contact .contactForm {
    width: 100%;
  }

  .contactForm .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .contact .contactForm .row .col50 {
    width: 100%;
    margin: 10px;
  }

  .sidebar ul li a {
    font-size: 1.5em;
  }
}

@media(max-width: 500px){

  .services .content .serviceBx,
  .work .content .workBx {
    max-width: 100%;
    width: 100%;
    margin: 10px 0;
  }

  .banner .contentBx {
    padding: 20px;
  }

  .btn-container {
    align-items: center;
  }


}
